@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url(//db.onlinewebfonts.com/c/55791bb323d52eae3dd554f87ca6fa0c?family=Vogue+Highline+Serif+Medium+It);
@font-face {
  font-family: "RFDewiExpanded";
  src: url("../font/RFDewiExpanded-Light.eot");
  src: local("☺"), url("../font/RFDewiExpanded-Light.woff") format("woff"), url("../font/RFDewiExpanded-Light.ttf") format("truetype"), url("../font/RFDewiExpanded-Light.svg") format("svg");
  font-weight: 300;
}

@font-face {
  font-family: "RFDewiExpanded";
  src: url("../font/RFDewiExpanded-Regular.eot");
  src: local("☺"), url("../font/RFDewiExpanded-Regular.woff") format("woff"), url("../font/RFDewiExpanded-Regular.ttf") format("truetype"), url("../font/RFDewiExpanded-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RFDewiExpanded";
  src: url("../font/RFDewiExpanded-Semibold.eot");
  src: local("☺"), url("../font/RFDewiExpanded-Semibold.woff") format("woff"), url("../font/RFDewiExpanded-Semibold.ttf") format("truetype"), url("../font/RFDewiExpanded-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "RFDewiExpanded";
  src: url("../font/RFDewiExpanded-Bold.eot");
  src: local("☺"), url("../font/RFDewiExpanded-Bold.woff") format("woff"), url("../font/RFDewiExpanded-Bold.ttf") format("truetype"), url("../font/RFDewiExpanded-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
