.iropage {
    padding-top: 172px;
}

.explore {
    &__row {
        padding-bottom: 70px;
        background-image: url(../img/explore/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
    }
    &__item-title {
        font-family: "RFDewiExpanded";
        line-height: 120%;
        font-size: 96px;
        font-weight: 300;
        padding: 96px 0px 106px 0px;
        white-space: nowrap;
        color: #ffffff;
    }
    &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 513px;
        border: 1px solid #e5e5e5;
        background: white;
        padding: 14px 24px;
        margin-right: 10px;
        border-radius: 28px;
        &:hover {
            border: 1px solid #6d879c;
        }
    }
    &__input {
        font-family: "RFDewiExpanded";
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.4px;
        color: rgba(0, 0, 0, 0.38);
        &::placeholder {
            color: rgba(0, 0, 0, 0.38);
        }
    }
    &__btn {
        background: none;
        cursor: pointer;
    }
}

.form__iropage {
    margin: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.form__iropage-input {
    width: 100%;
}