@import "fonts.scss";
html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    background: #ebebeb;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 20px;
    box-sizing: content-box;
}

.iropage {
    flex: 1 0 auto;
}

.no-scroll {
    overflow: hidden;
}

.completekyc {
    height: 100px;
}

@import "_header";
@import "_main";
@import "_inform";
@import "_platform";
@import "_status";
@import "_actual";
@import "_footer";
// iropage page
@import "_iropage";
@import "_upcoming";
@import "_onair";
@import "_completed";
// projectcard page
@import "_projectcard";
@import "_overview";
// news page
@import "_news";
@import "_media";
@import "_media-iro";
@import "_media-projectcard";
@import "_media-news";
// detailed page
@import "_detailed";
@import "_detailednext";
// dashboard page
@import "_dashboard";
@import "_dashboard-guest";
@import "_media-dashboard";
//policy
@import "_policy";
// terms
@import "_terms";
// stageone
@import "_stageone";
@import "_stagetwo";
// stageone modal
@import "modalkyc";
// form
@import "form/_partnership";
@import "form/_support";
@import "form/_wallet";