.support__row {
    background: linear-gradient(77.27deg, #6d879c 34.41%, #a9c1d5 68.75%, #6d879c 92.69%);
}

.support__form-group {
    flex: 0 1 50%;
}

.support-width {
    max-width: 451px;
    box-sizing: border-box;
    margin-bottom: 16px;
}