.wallet {
    display: none;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.9);
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
    }
    &__row {
        position: relative;
        max-width: 576px;
        width: 100%;
        background: #ebebeb;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 48px 50px 48px;
    }
    &__title {
        font-family: "RFDewiExpanded";
        font-weight: 300;
        font-size: 30px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 65px;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient( 83.11deg, #000000 0%, #010101 0.01%, #444444 69.79%, #000000 100%, #000000 100%, #000000 100%);
        border-radius: 24px;
        max-width: 480px;
        width: 100%;
        &-img {
            margin-right: 8px;
            padding: 8px 0 8px 0;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__link {
        font-family: "RFDewiExpanded";
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #e5e5e5;
    }
    &__close {
        position: absolute;
        top: 28px;
        right: 20px;
    }
}

.wallet__show {
    display: block;
}